body{
    margin: 0;
    padding: 0;
}
/*nav bar */
nav{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: white;

    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;

    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.store_name{
    align-items: flex-start;
}
.nav-catogeries{
    margin-left: 100px;
}
.nav-bar2{
    display: flex;
}
nav ul li{
    margin-right: 40px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.nav-bar-icon{
     display: flex;

}

.nav-icon{
     margin-left: auto;
     margin-right: 0;
}

.account{
    width: 25px;
    height: 25px;
}

/*hero section*/

.hero{
    height: 90vh;
    background-image: url("image/photo-1483985988355-763728e1935b.avif");
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 0 60px;
    position: relative;
    padding-top: 80px;

}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}

.hero-content{
    margin-top: 0px;
    position: relative;
    color: white;
    max-width: 500px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 1.5;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.btn.primary {
  background-color: #ff6347;
  color: white;
}

.btn.primary:hover {
  background-color: #e5533d;
}

/*name tag women*/
.nametag{
    margin-top: 50px;
    margin-left: 50px;
}
.nametag a {
    text-decoration: none;
    color: black;
}


/*cards*/

.card-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 60px 80px;
    background-color: #f8f8f8;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 412px;
    object-fit: cover;
}

.card h3 {
    margin: 15px 0 5px;
}

.card p {
    margin-bottom: 20px;
    color: #555;
    font-size: 14px;
}

.card-image {
    position: relative;
    width: 100%;
    height: 412px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.4s ease;
}

.img-hover {
    opacity: 0;
}

.card:hover .img-hover {
    opacity: 1;
}

.card:hover .img-default {
    opacity: 0;
}
