/* BASIC */
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*NAVIGATION BAR*/
nav{
    display: flex;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    padding: 10px 20px;
}


.nav-bar2,

.nav-bar-icon{
    display: flex;
}

nav ul li{
    list-style: none;
    margin-right: 25px;
}

nav-icon{
    margin-left: auto;
}

.account{
    width: 25px;
    height: 25px;
}



/*NAME GTAG WOMEN*/
.nametag{
    margin-top: 50px;
    margin-left: 50px;
}
.nametag a {
    text-decoration: none;
    color: black;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 1.5;
}


/* CATEGORIES*/
.women-category-section{
    display: flex;
    /*HORIZONTAL*/
    justify-content: flex-start;

    /*SPACES*/
    gap: 5px;
    padding: 30px;
}

.category-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: poppins, sans-serif;
    

}    

.category-card img{
    width: 120px;
    height: 120px;

    /*CIRCLE*/
    border-radius: 50%;

    /*FIT THE IMAGE*/
    object-fit: cover;
    
    object-position: 50% 50%;
}

.caregiry-card p{
    margin-top: 10px;
    font-weight: 500;

}


/*cards*/
.card-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding-top:  160px ;
    background-color: #f8f8f8;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 412px;
    object-fit: cover;
}

.card h3 {
    margin: 15px 0 5px;
}

.card p {
    margin-bottom: 20px;
    color: #555;
    font-size: 14px;
}

.card-image {
    position: relative;
    width: 100%;
    height: 412px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.4s ease;
}

/*CHANGE IMAGE*/
.img-hover {
    opacity: 0;
}

.card:hover .img-hover {
    opacity: 1;
}

.card:hover .img-default {
    opacity: 0;
}
